
body {
    height: 100px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: linear-gradient(to bottom, #cce7ff, #00509e);
    background-image: url('../static/water.gif');
    color: #fff;
    text-align: center;
}

header {
    padding: 50px;
    background: rgba(134, 17, 85, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header img {
    height: 100px;     
}

h1 {
    height: 60px;
    padding: 20px;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 200px 50px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section {
    font-size: 2.2rem;
    width: 45%;
}

section h2 {
    border: 1.5px solid #000;
    background-color: black;
    padding: 10px;
    font-size: 2rem;
    /* text-decoration: underline; */
    border-radius: 70%;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

footer {
    margin-top: 50px;
    font-size: 0.9rem;
}
