{% load static %}
<!DOCTYPE html>
<html lang="en">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
    </nav> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Open Channel Flow Calculator</title> -->

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="header">
        <h1>Open Channel Flow Calculator</h1>
    </div>
    <!-- <a href="{% url 'index' %}" class="btn btn-primary">Home</a> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ms-3" href="/">Home</a>
    </nav>
    <div class="container form-container">
        <div class="image-container d-flex justify-content-around align-items-center">
            <img src="{% static '/cweb.jpg' %}" alt="Descriptive Alt Text" class="img-fluid" style="max-width: 45%; height: auto;transform: scale(1.2);">
            <img src="{% static '/image.png' %}" alt="Descriptive Alt Text" class="img-fluid" style="max-width: 45%; height: auto; transform: scale(0.6);">
        </div>
    
        <form id="flowForm" method="post" action="{% url 'calculate' %}">
            {% csrf_token %}
            
            <div class="row"> 
                <div class="col-md-6 mb-3">
                    <label for="channelType" class="form-label">Select Channel Type</label>
                    <select class="form-select" id="channelType" name="channel_type">
                        <option value="Trapezoid" selected>Trapezoid</option>
                        <option value="Triangle">Triangle</option>
                        <option value="Rectangle">Rectangle</option>
                        <option value="Circle">Circle</option> 
                    </select>
                </div>
            
                <div class="col-md-6 mb-3">
                    <label for="calculationType" class="form-label">Select Parameter for Solving</label>
                    <select class="form-select" id="calculationType" name="calculation_type" required>
                        <option value="none" selected>select any one </option>
                        <option value="velocity_discharge" >Velocity (V) & Discharge (Q)</option>
                        <option value="channel_slope_v">Channel Slope from V</option>
                        <option value="channel_slope_q">Channel Slope from Q</option>
                        <!-- <option value="manning_v">Manning Coefficient from V</option> -->
                        <!-- <option value="manning_q">Manning Coefficient from Q</option> -->
                        <!-- <option value="depth_q">Depth from Q</option> -->
                    </select>
                </div>
            </div>
            
            <div class="row">
                <label for="unitSystem" class="form-label">Select Unit System</label>
                <div class="col-md-3 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="unit_system" id="unitSystemFt" value="ft" checked onchange="updatePlaceholders(); convertUnits('ft')">
                        <label class="form-check-label" for="unitSystemFt">
                            Feet (ft)
                        </label>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="unit_system" id="unitSystemM" value="m" onchange="updatePlaceholders(); convertUnits('m')">
                        <label class="form-check-label" for="unitSystemM">
                            Meter (m)
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row" id="zInputsRow">
                    <div class="col-md-6 mb-3">
                        <label for="z1" class="form-label">Z1 (Trapezoid and triangle only):</label>
                        <input type="number" class="form-control z-input" step="0.01" name="z1" id="z1" data-name="Z1" required value="{{ z1 }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="z2" class="form-label">Z2 (Trapezoid and triangle only):</label>
                        <input type="number" class="form-control z-input" step="0.01" name="z2" id="z2" data-name="Z2" required value="{{ z2 }}">
                    </div>
                </div>
            </div>

            <div class="row" >
                <!-- <div class="col-md-6 mb-3" id="aInputsRow" >
                    <label for="a_d" class="form-label">Angle θ (for Circle only)</label>
                    <input type="number" step="0.01" class="form-control" id="a_d" name="a_d" readonly value="{{ a_d }}">
                </div> -->
                <div class="col-md-6 mb-3">
                    <label for="channelSlope" class="form-label">Channel Slope</label>
                    <input type="number" step ="0.000001" class="form-control" id="channelSlope" name="channel_slope" placeholder="Slope in ft/ft" required  value="{{ channel_slope }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="waterDepth" class="form-label">Water Depth</label>
                    <input type="number" step="0.0001" class="form-control" id="waterDepth" name="water_depth" placeholder="Depth in ft"  value="{{ water_depth }}"> 
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="bottomWidth" class="form-label">Bottom Width(b)(for circle: D)</label>
                    <input type="number" step="0.0001" class="form-control" id="bottomWidth" name="bottom_width" placeholder="Width in ft" required value="{{ bottom_width }}">
                </div>
                
                <div class="col-md-6 mb-3">
                    <label for="velocity" class="form-label">Velocity</label>
                    <input  type="number" step="0.0001" class="form-control" id="velocity" name="velocity" placeholder="Velocity in ft/sec" required value="{{ velocity }}">
                </div>
            
            

            <div class="row">
                <div class="col-md-6 mb-3">
                    
                    <label for="flow" class="form-label">Flow</label>
                    <input  type="number" step="0.0001" class="form-control" id="flow" name="flow" placeholder="Discharge in ft³/sec" required value="{{ flow }}">
                </div>
            
        

            <div class="col-md-6 mb-3">
                <label for="n">Manning's Coefficient (n):</label>
                <select name="n" id="n" required>
                    <option value="0.014">Clean, uncoated cast iron (n = 0.014)</option>
                    <option value="0.013">Clean, coated cast iron (n = 0.013)</option>
                    <option value="0.025">Dirty, tuberculed cast iron (n = 0.015-0.035)</option>
                    <option value="0.016">Riveted steel (n = 0.015-0.017)</option>
                    <option value="0.011">Brass and glass (n = 0.009-0.013)</option>
                    <option value="0.023">Firm gravel (n = 0.023)</option>
                    <option value="0.060">Very poor natural channels (n = 0.060)</option>
                </select>
            </div>
        </div>
        <!-- <div class="col-md-6 mb-3">
                    
            <label for="n" class="form-label">manning Coefficient</label>
            <input  type="number" step="0.0001" class="form-control" id="n" name="n"  required value="{{ n }}">
        </div> -->

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Calculate</button>
                <button type="reset" class="btn btn-secondary" onclick="handleReset()">Reset</button>
            </div>

            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="flow-area" class="form-label">Flow Area:</label>
                        <input  type="number" step="0.0001" class="form-control bg-light text-dark border-dark" id="flow-area" name="flow-area" value="{{ flow_are  }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="w-p" class="form-label">Wetted Perimeter:</label>
                        <input  type="number" step="0.0001" class="form-control bg-light text-dark border-dark" id="w-p" name="w-p" value="{{ wetted_perimeter }}">
                   
                        </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 mb-3">
                        <label for="h-r" class="form-label">hydraulic radius:</label>
                        <input  type="number" step="0.0001" class="form-control bg-light text-dark border-dark" id="h-r" name="h-r"  value="{{ hydraulic_radius }}">
                   
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="t-w" class="form-label">Top Width:</label>
                            <input  type="number" step="0.0001" class="form-control bg-light text-dark border-dark" id="t-w" name="t-w"  value="{{ top_width }}">
                       
                            </div>
                       
                
            </div>
        </form>
    </div>

    <div class="footer text-center mt-4">
        <!-- <p>&copy; 2025 Open Channel Flow Calculator. All rights reserved.</p> -->
    </div>
    <!-- {% load static %}
<!DOCTYPE html> -->
<!--link to external js-->
<script src="{% static 'scripts.js' %}"></script>
</body>
</html>    